
.root {
	
	-fx-background-image: url("photo-1507564215915-3df09846ee75.jpeg");
	-fx-background-size: cover;
	
}

.label {
	
   -fx-font-size: 40px;
   -fx-font-family: "Luminari";
   -fx-text-fill: white;
	
}

.button {

 	-fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );

}

.button:hover {

    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
    
}


